.botao-ra {
  display: inline-block;
  padding: 1em 2em;
  background-color: #007BFF;
  color: white;
  font-size: 1.2em;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s;
}
.botao-ra:hover {
  background-color: #0056b3;
}
